// Variables
//===================

:root {
  --color: #424242;
  --color-contrast: #FFFFFF;
  --inverted-color: #494949;
  --text-muted: rgba(#4C4C4C, .5);
  --background-primary: #171E2E;
  --body-color: #E9E9E9;
  --border-color: #efefefef;
  --line-color: #5172BE;
  --line-color-inverted: #5172BE;
  --shadow-color-light: rgba(#000000, .8);
  --line-height-paragraphe: 25px;
  --space: 8px;
  --border-radius: 5px;
  --bg-btn: #171E2E;
  --nav-bg: #FFFFFF;
  --red: #f25353;
  --twitch: #9b77d9;
  --ubisoft: #5172BE;
  --youtube: #f25353;
}

// Outils
// ==================
@import 'tools/reset';
@import 'tools/mixins';
@import 'tools/function';
@import 'tools/animation';
@import 'tools/layout';
@import 'tools/typo';

// Dark mode
// =============
@include dark {
  --color: #FFFFFF;
  --color-contrast: #424242;
  --inverted-color: #FFFFFF;
  --shadow-color-dark: #FFFFFF;
  --bg-btn: #171E2E;
  --line-color-inverted: #FFFFFF;
  --btn-hover: rgba(255, 255, 255, .4);
  --border-color: #FFFFFF;
  --body-color: #151A26;
  --nav-bg: #f8f7f7;
  --red-hover: #{darken(#f25353, 10)};
  --twitch-hover: #{darken(#9b77d9, 10)};
}

.lighten-dark {
  filter: brightness(10);
}


body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  background: var(--body-color);
  height: 100vh;
}

//Modules
//====================
@import "modules/loader";
@import "modules/btn";
@import "modules/navbar";
@import "modules/footer";

@import "pages/home";
@import "pages/modalEnter";
@import "pages/PageViewVideo";
@import "pages/HelpCharms";
@import "pages/YoutubeList";