// Variables
//===================

:root {
  --color: #424242;
  --inverted-color: #494949;
  --text-muted: rgba(#4C4C4C, .5);
  --background-primary: #171E2E;
  --body-color: #E9E9E9;
  --border-color: #efefefef;
  --line-color: #5172BE;
  --line-color-inverted: #5172BE;
  --shadow-color-light: rgba(#000000, .8);
  --space: 8px;
  --bg-btn: #171E2E;
  --nav-bg: #FFFFFF;
  --red: #f25353;
}

// Outils
// ==================
@import 'tools/reset';
@import 'tools/mixins';
@import 'tools/function';
@import 'tools/animation';
@import 'tools/layout';
@import 'tools/typo';

// Dark mode
// =============
@include dark {
  --color: #FFFFFF;
  --inverted-color: #FFFFFF;
  --shadow-color-dark: #FFFFFF;
  --bg-btn: #171E2E;
  --line-color-inverted: #FFFFFF;
  --btn-hover: rgba(255,255,255, .4);
  --border-color: #FFFFFF;
  --body-color: #151A26;
  --nav-bg: #f8f7f7;
}

.lighten-dark {
  filter: brightness(10);
}


body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  background: var(--body-color);
  height: 100vh;
}

//Modules
//====================
@import "modules/loader";
@import "modules/btn";
@import "modules/navbar";
@import "modules/footer";

@import "pages/home";
@import "pages/modalEnter";