%btn,
.btn {
  display: inline-block;
  position: relative;
  padding: .75rem 1.25rem;
  font-size: 1em;
  border: solid 1px transparent;
  transition: all, .5s;
  font-family: $font-alt;
  font-weight: 600;
  cursor: pointer;
}

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: var(--bg-btn);

  &:hover {
    background-color: var(--btn-hover);
    color: var(--color);
    border: solid 1px var(--border-color);
    border-radius: 5px;
  }
}

%btn-small,
.btn-small {
  padding: .5rem .75rem;
  font-size: .9em;
  background-color: var(--bg-btn);
}

.btn-humberger {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: .25rem .65rem;
  border: none;
}
