%btn,
.btn {
  display: inline-block;
  position: relative;
  padding: .35rem 1rem;
  font-size: 1em;
  border: solid 1px transparent;
  transition: all, .5s;
  font-family: $font-alt;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-contrast);
  @include dark() {
    color: #FFFFFF;
  }
}

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: var(--bg-btn);

  &:hover {
    background-color: var(--btn-hover);
    color: var(--color);
    border: solid 1px var(--border-color);
    border-radius: 5px;
  }
}

%btn-small,
.btn-small {
  padding: .5rem .75rem;
  font-size: .9em;
  background-color: var(--bg-btn);
}

.btn-enter {
  display: flex;
  margin: 70px auto 0;
  @extend %btn;
  background: #171E2E;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  font-size: 36px;
  box-shadow: 0 1px 10px #FFFFFF;
  padding: .35rem 2.1rem;
  transition: all .5s ease-in-out;

  &:hover {
    box-shadow: 0 1px 30px #FFFFFF;
  }
}

.button_youtube{
  @extend %btn;
  background: var(--red);
  border-radius: var(--border-radius);
  font-size: 14px;
  &:hover{
    color: var(--color);
    background: var(--red-hover);
  }
}

.btn-twitch{
  @extend %btn;
  background: var(--twitch);
  font-size: 14px;
  border-radius: var(--border-radius);
  &:hover{
    background: var(--twitch-hover);
    color: var(--color);
  }
}

.button_share_youtube {
  @extend %btn;
  background: var(--background-primary);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  font-size: 14px;

  &:hover {
    background: var(--color);
    color: var(--color-contrast) !important;
  }
}

%link-back,
.link-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  overflow: hidden;
  margin: .5rem .7rem;

  &:hover{
    color: var(--youtube);
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}