@keyframes openMenu {
  0% {
    color: #FFFFFF;
    opacity: 0;
  }
  100% {
    transform: rotateZ(360deg);
    color: var(--red);
    opacity: 1;
  }
}

@keyframes moveLeftToRight {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(0deg);
  }
}