// Variables
// ==================
$font: 'Poppins', sans-serif;
$font-alt: 'Poppins', sans-serif;

%h1,
.h1 {
  font-family: $font-alt;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;

  @include up(600) {
    font-size: 42px;
  }
}

%h2,
.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}

%h3,
.h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  line-height: 1.2;
  @include up(600) {
    font-size: 42px;
  }
}
%subtitle,
h2.subtitle {
  display: block;

}
.title-subject-forum {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

%text-alert-link,
.text-alert-link{
  color: var(--red);
  font-weight: 600;
  transition: color .5s ease-in-out;
  &:hover{
    color: var(--inverted-color);
  }
}
%text-alert-twitch,
.text-alert-twitch{
  color: var(--twitch);
  font-weight: 700;
  cursor: pointer;
}
%text-alert-youtube,
.text-alert-youtube{
  color: var(--youtube);
  font-weight: 700;
  cursor: pointer;
}
%text-alert-ubisoft,
.text-alert-ubisoft{
  color: var(--ubisoft);
  font-weight: 700;
  cursor: pointer;
}