// Variables
// ==================
$font: 'Inter', sans-serif;
$font-alt: 'Poppins', sans-serif;

%h1,
.h1 {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;

  @include up(600) {
    font-size: 42px;
  }
}

%h2,
.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}

%h3,
.h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  line-height: 1.2;
  @include up(600) {
    font-size: 42px;
  }
}

.title-subject-forum {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}