main {
  position: relative;
  min-height: calc(100vh - 227px - 78px);
  height: 100%;
}

#twitch-embed {
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 890px 380px;
  grid-column-gap: 25px;
  justify-content: center;
  @include down(1696) {
    margin: 100px auto 20px;
    grid-template-columns: 880px 380px;
  }
  @include down(1340.98) {
    margin: 100px auto 20px;
    grid-template-columns: 680px 380px;
  }
  @include down(1199.98) {
    margin: 110px auto 20px;
    grid-template-columns: 50vw 380px;
  }
  @include down(991.98) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  iframe#frame-video {
    min-height: 580px;
    width: 100%;
    @include down(1696.98) {
      min-height: 450px;
      width: 100%;
    }
    @include down(1340.98) {
      min-height: 380px;
      width: 100%;
    }
    @include down(1199.98) {
      width: 50vw;
      min-height: 530px;
      margin: auto;
    }

    @include down(991.98) {
      width: 100vw;
      min-height: 530px;
      margin: auto;
    }
    @include down(767.98) {
      width: 100vw;
      min-height: 385px;
      margin: auto;
    }
    @include down(575.98) {
      width: 100vw;

      max-height: 280px;
      margin: auto;
    }
  }

  iframe#frame-tchat {
    width: 380px;
    height: 100%;
  }
}

#twitch-embed > iframe#frame-tchat {
  @include down(1199.98) {
    width: 100%;
    min-height: 550px;
    margin: auto;
  }
  @include down(991.98) {
    width: 90vw;
    min-height: 530px;
  }
}

#twitch-embed .stream-title {
  font-family: $font-alt;
  font-weight: 600;
  padding: .75rem 1rem 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;

  &::after {
    display: block;
    content: "";
    height: 3px;
    max-width: 150px;
    margin-top: .75rem;
    background: var(--line-color-inverted);
  }

  @include down(991.98) {
    display: block;
    width: 100vw;
    padding: .75rem 1rem;
  }
}

#twitch-embed .twitch-embedded-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .viewerCount {
    font-family: $font-alt;
    display: flex;
    margin-left: 1rem;
    width: auto;
    font-weight: 600;
    @include down(1089.98) {
      display: none;
    }
  }
}

.c-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 227px - 78px);
}

.no-live {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 400px);

  h1 {
    color: var(--inverted-color);
    padding: 1.5rem;
    @include down(1060){
      font-size: 38px;
      img{
        height: 45px;
      }
    }
  }
  p{
    color: var(--inverted-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    padding: 1.5rem;
  }
}

.box1, .box2{
  background: red;
  min-height: 150px;
  width: 100% ;
}
//1041 => titre + taille titre