.modal-enter {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -36px;
  z-index: 10000;
  overflow: hidden;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: all 1s ease-in-out;
  @include up(767.8){
    bottom: 0;

  }
}

.container-img {
  position: absolute;
  width: 100%;
  bottom: 0;

  img {
    display: flex;
    margin: auto;
    max-height: 50vh;
  }
}

.modal-enter .header-modal {
  margin-top:30px ;
  @include up(767.8){
    margin-top: 100px;
  }

  h1, p {
    padding: .75rem 1rem;
    font-family: $font-alt;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

    line-height: 45px;
    @include up(767.8){
      font-size: 36px;
    }
  }
}

.modal-enter.modal-close {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100%);
}
