.box1 {
  position: relative;
  display: flex;
  width: 100%;
  background: var(--background-primary);
  grid-area: video;

  img {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.container-info-youtube {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5rem;
  grid-area: desc;
  background: rgba(#FFF, 0.9);
  backdrop-filter: saturate(-180%) blur(50px);
  color: var(--color-contrast);
  border-radius: 5px;
  border: solid 2px var(--color-contrast);
}

.info-youtube-header {
  display: block;
  font-size: .9rem;
  font-weight: 500;
  line-height: 25px;
  h3{
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  span{
    font-size: .8rem;
    color: var(--text-muted);
    text-transform: uppercase;
  }
}

.info-youtube-body {
  text-align: justify-all;
  word-break: break-all;
  margin-top: .2rem;
  line-height: var(--line-height-paragraphe);
}

.info-youtube-footer{
  margin-top: .8rem;
  display: flex;
  justify-content: right;
  align-items: center;
  a{
    &:nth-of-type(1){
      margin-right: .5rem;
    }
  }
}