.box1 {
  position: relative;
  display: flex;
  width: 100%;
  background: var(--background-primary);
  grid-area: video;

  img {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.container-info-youtube {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  grid-area: desc;
  background: rgba(#FFF, 0.9);
  backdrop-filter: saturate(-180%) blur(50px);
  color: var(--color-contrast);
  border-radius: 5px;
  border: solid 2px var(--color-contrast);
}

.info-youtube-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 25px;
}

.info-youtube-body {
  text-align: justify;
  margin-top: 1rem;
  line-height: var(--line-height-paragraphe);
}

//.player {
//  position: relative;
//}
//
//.player::after {
//  display: block;
//  content: "";
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  background: rgb(57, 57, 57);
//  background: linear-gradient(0deg, rgba(57, 57, 57, 1) 0%, rgba(154, 154, 154, .7) 56%, rgba(255, 255, 255, 0.5) 100%);
//  pointer-events: none;
//}
//
//.player::before {
//  content: "▶";
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  background: #171E2E;
//  height: 80px;
//  width: 80px;
//  font-size: 2rem;
//  font-weight: 600;
//  border-radius: calc(var(--border-radius) * 55);
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  cursor: pointer;
//  pointer-events: all;
//}
//
//.player.read-on::before, .player.read-on::after{
//  display: none;
//}