.youtube-title{
  @extend %h1;
  margin: 1.5rem;
  padding: 0 1.25rem;
}
.youtube-layout{
  display: grid;
  margin-top: calc(var(--space) * 4);
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(var(--space) * 2);
  row-gap: calc(var(--space) * 2);
  font-family: $font-alt;
  color: var(--color);
}

.miniature-video-YT {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "miniature-img miniature-body"
                       "miniature-img miniature-body"
                       "miniature-img miniature-footer";
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.miniature-photo-YT{
  grid-area: miniature-img;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #{lighten(#171E2E, 5)};
  img{
    display: flex;
    min-height: 190px;
    max-height: 280px;
    border-radius: 5px;

  }
}
.miniature-body-YT{
  grid-area: miniature-body;
  padding: .75rem 1rem ;
  background: var(--color-contrast);
  .title-video-YT{
    h4{
      font-weight: 600;
      line-height: 20px;
      margin-bottom: var(--space);
    }
  }
  .desc-video-YT{
    line-height: 30px;
    min-height: 150px;
  }
}

.miniature-footer-YT {
  display: flex;
  justify-content: center;
  padding: .75rem 1rem;
  grid-area: miniature-footer;
}

@include down(1399.99) {
  .youtube-layout {
    padding: 0 1.25rem;
    justify-content: center;
  }

  .miniature-video-YT {
    max-width: 530px;
    margin: auto;
  }
}

@include down(1119.99) {
  .miniature-video-YT {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
  .miniature-body-YT .desc-video-YT {
    min-height: auto;
  }
}


@include down(1040.99) {
  .youtube-layout {
    grid-template-columns: repeat(2, 400px);

  }
}

@include down(859.99){
  .youtube-layout{
    grid-template-columns: 1fr;

  }
}