.youtube-layout {
  display: grid;
  grid-template-columns: 320px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @include up(768.99) {
    grid-template-columns: repeat(2, 320px);
  }
  @include up(1199.99) {
    grid-template-columns: repeat(3, 320px);
  }
  @include up(1199.99) {
    grid-template-columns: repeat(3, 320px);
  }
  @include up(1499.99) {
    grid-template-columns: repeat(4, 320px);
  }
}

.miniature-video {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-template-rows: repeat(12, minmax(auto, 60px));
  border: solid 1px var(--border-color);
  margin: auto;
  height: 470px;

  .thumbnail-video {
    grid-column-end: span 12;
    grid-row-end: span 4;
  }

  .video-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-end: span 12;
    grid-row-end: span 8;
    background: lighten(#E9E9E9, 10);
    padding: 0 10px 20px;

    @include dark() {
      background: lighten(#151A26, 10);
    }

    .title-video {
      font-size: 18px;
      line-height: 26px;
      overflow: hidden;
      width: 300px;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-wrap: none;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .description-video p {
      text-align: justify-all;
      line-height: 25px;
      font-size: 14px;
      font-weight: 300;
      max-height: 125px;
    }
  }
}